.header {
   grid-area: h;
   background-color: rgb(245, 236, 213);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 5px 15px;
}

.header img {
   width: 50px;
}

.loginBlock button {
   font-family: 'Nunito Sans', sans-serif;
   font-size: 16px;
   background-color: rgb(58, 168, 247);
   color: #fff;
   border: none;
   padding: 5px 20px;
   border-radius: 40px;
   align-items: center;
   cursor: pointer;
   transition: all ease 0.3s;
}

.loginBlock button:hover {
   background-color: rgb(111, 188, 244);
}
