.descriptionBlock {
   padding: 10px;
   display: flex;
   font-size: 20px;
}

.profileInfo__wrap {
   max-width: 300px;
}

.descriptionBlock__avatar {
   margin-right: 20px;
}

.descriptionBlock__avatar img {
   border-radius: 50%;
}

.statusWrap img {
   width: 14px;
   margin-left: 10px;
}

.status {
   cursor: pointer;
}

.descriptionBlock__changeAvatar_button {
   display: none;
}

.descriptionBlock__changeAvatar_label {
   position: absolute;
   border-radius: 50%;
   cursor: pointer;
   font-size: 17px;
   width: 100%;
   height: 100%;
   padding-top: 50%;
   display: flex;
   justify-content: center;
}

.descriptionBlock__image {
   position: relative;
   overflow: hidden;
   border-radius: 50%;
}

.descriptionBlock__image:hover .descriptionBlock__changeAvatar {
   top: -5px;
   background-color: #ffffffc0;
   border-radius: 50%;
   transition: all ease .3s;
}

.descriptionBlock__changeAvatar {
   position: absolute;
   width: 100%;
   height: 100%;
}

.mainPhoto {
   width: 100%;
   max-width: 200px;
}

.contact {
   padding-left: 20px;
}

.descriptionBlock__status {
   margin-bottom: 20px;
}

.descriptionBlock__changeInfoButton {
   margin-right: 10px;
   border: none;
   background: #757575;
   padding: 5px 15px;
   border-radius: 10px;
   color: #fff;
   cursor: pointer;
   transition: .2s ease-in-out;
}

.descriptionBlock__changeInfoButton:hover {
   background: #8b8b8b;
}