.dialogs {
   display: grid;
   grid-template-columns: 2fr 10fr;
}

.dialogsItems {
   padding: 10px;
}

.dialogsItems .active {
   color: gold;
}

.messages {
   padding: 10px;
}  

.user {
   display: flex;
   justify-content: flex-start;
}

.userAvatar img{
   width: 40px;
   border-radius: 50%;
   margin-right: 8px;
}

.addMessage {
   padding-left: 10px;
   padding-bottom: 10px;
}